:root {
    --dark-gray-color: #343a40;
    --pure-gray-color: rgb(120, 120, 120);
}

[class*="col"] {
    margin: 0;
    padding: 0;
}

[class*="row"] {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 5px 24px;
}

.nav-item {
    padding-left: 16px;
}

h1,
p,
h3,
.card-body {
    color: var(--dark-gray-color);
}

#main-section {
    background-color: rgb(197, 192, 192);
}

#main-body p {
    padding: 32px 0 24px;
}

#start-btn {
    width: 100%;
    font-size: 26px;
    border: none;
    padding: 8px 0;
}

.card {
    margin: 16px;
}

.card-body {
    padding: 16px 16px 24px;
}

.course,
.card-text,
.gray-text-p {
    color: var(--pure-gray-color);
}

.gray-img {
    background-color: rgb(211, 211, 211);
}

@media only screen and (min-width: 770px) and (max-width: 1480px) {

    #main-img {
        margin: 32px 24px;
    }

    #main-body {
        padding: 32px 24px;
    }

    #main-body h1 {
        font-size: 45px;
    }

    #main-body p {
        font-size: 24px;
    }

    #footer-text {
        padding: 16px 24px;
    }

    #thesis h1 {
        padding: 32px;
    }

    #card-section {
        padding: 16px 56px;
        background-color: rgb(211, 211, 211);
    }

    #card-section h1 {
        padding: 16px 0;
    }

    .card {
        height: 90%;
        margin: 16px;
    }
}

@media only screen and (max-width: 769px) {

    #main-body {
        padding: 32px 16px;
    }

    #main-body p {
        font-size: 24px;
    }

    #main-body h1 {
        font-size: 40px;
    }

    #footer-text {
        padding: 16px;
    }

    #thesis h1 {
        padding: 32px 0 16px;
    }

    #card-section {
        background-color: white;
    }
}